<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Amruta's Den</title>
	<link rel="stylesheet" href="styles.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="css/movingbox.css" type="text/css" media="screen">
	<script src="js/jquery-1.3.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/slider.js" type="text/javascript" charset="utf-8"></script>
	<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js?ver=1.3.2'></script>
  <script type='text/javascript' src='js/jquery.color-RGBa-patch.js'></script>
  <script type='text/javascript' src='js/example.js'></script>
  
  <script type="text/javascript">
  </script>
  
</head>
<body>
<div id="wrapper"><!-- #wrapper -->
	<header><!-- header -->
		<br><br><br>
    <h1>AMRUTA'S DEN</h1>
</header><!-- end of header -->

<div class="nav-wrap">
		<ul class="group" id="example-one">
            <li class="current_page_item">><a href="index.html">Home</a></li>
            <li><a href="aboutMe.html">About Me</a></li>
            <li><a href="techView.html">Tech View</a></li>
            <li><a href="myPassion.html">My Passion</a></li>
            <li><a href="moments.html">Moments</a></li>
			<li><a href="reachMe.html">Reach Me</a></li>
        </ul>
</div>

<section id="main"><!-- #main content area -->
 {{content}}
</section>
<!-- end of #content Home Page -->
	

<!-- #wrapper -->
</body>
</html>
